.main-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.main-container .card{
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    width: 500px;
    height: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.main-container .card #avatar{
    width: 80px;
    height: 80px;
    background: blue;
}

.main-container .card #info{
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

.main-container .card #info span{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.main-container .card #info p{
    font-size: 12px;
    color: #949494;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container a{
    text-decoration: none;
}