.addUser-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    
   .addUser-container span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
   }

   .addUser-container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
   }
    
   .addUser-container input{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
   }
    
   .addUser-container select{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    text-align-last: center;
   }
    
   .addUser-container button{
    width: 200px;
    height: 40px;
    background: #2EC14F;
    border : none;
    cursor : pointer;
    color : #ffffff;
    font-size: 16px;
   }